body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}



@keyframes shadow {
  0% {opacity:0}
  50% {opacity:.5}
  100% {opacity:1}
}


.text-hold h1, .text-hold h1+p {
  animation: shadow 2s linear;

}



.visual-bg, .text-hold p+p{
  animation: shadow 1s linear 1s;
  animation-fill-mode: backwards;
}

.text-hold .button-wrapp a{
  animation: shadow 1s linear 2s;
  animation-fill-mode: backwards;
}



.nav-btn {
  display: none;
}
@media (max-width: 1023px) {
  .nav-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
    cursor: pointer;
  }
  .nav-btn span,
  .nav-btn span::before,
  .nav-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #000;
  }
  .nav-btn span::before,
  .nav-btn span::after {
    content: "";
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }
  .nav-btn span::before {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .nav-btn span::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.menu_active span::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu_active span {
  height: 0;
}

.menu_active span::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.container {
  max-width: 1296px;
  padding: 0 72px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .container {
    padding: 0 15px;
  }
}

.header-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.header-wrapp .logo {
  font-weight: 700;
  font-size: 18px;
  position: relative;
  z-index: 99;
}

.header-wrapp .nav-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .header-wrapp .nav-wrapp {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.menu_active .header-wrapp .nav-wrapp {
  opacity: 1;
  display: block;
  visibility: visible;
  text-align: left;
  padding: 0 15px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #fff;
}
.menu_active .header-wrapp .nav-wrapp ul {
  padding-top: 50px;
}
.menu_active .header-wrapp .nav-wrapp li {
  display: block;
  font-size: 25px;
  padding: 10px 0;
}
.header-wrapp .nav-wrapp .menu_active {
  height: 100vh;
  overflow: hidden;
}

.nav-wrapp ul li {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.nav-wrapp ul li:last-of-type {
  padding: 10px 35px 10px 10px;
}

.nav-wrapp ul li a {
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.nav-wrapp ul li a:hover {
  text-decoration: underline;
}

.nav-wrapp > a {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #000;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 32px;
  font-weight: 600;
}

.nav-wrapp > a:hover {
  color: #ff699f;
  border: 2px solid #ff699f;
}

.visual-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 100px;
}
@media (max-width: 1023px) {
  .visual-warpp {
    margin-bottom: 40px;
  }
}

.visual-wrapp .text-hold {
  width: 40%;
  padding: 70px 0 0 0;
}
@media (max-width: 1023px) {
  .visual .text-hold {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 30px 0 0 0;
  }
}

.visual-wrapp .text-hold h1 {
  font-size: 72px;
  text-transform: capitalize;
  line-height: 68px;
  margin-bottom: 15px;
}
@media (max-width: 1023px) {
  .visual-wrapp .text-hold h1 {
    font-size: 36px;
    display: table-caption;
    margin-bottom: 10px;
  }
}

.visual-wrapp .text-hold h1 + p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .visual-wrapp .text-hold h1 + p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.visual-wrapp .text-hold p {
  max-width: 383px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 45px;
}
@media (max-width: 1023px) {
  .visual .text-hold p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.visual-wrapp .text-hold .button-wrapp a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 40px;
  border: 2px solid #ff699f;
  color: #ff699f;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
}



.visual-wrapp .text-hold .button-wrapp a:hover {
  color: #000;
}

.visual-bg {
  max-width: 60%;
  min-height: 650px;
}
@media (max-width: 1023px) {
  .visual-bg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    max-width: 100vw;
    min-height: 275px;
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    right: -50%;}
}

.visual-bg img {
  width: 100%;
  height: 100%;
}

.main .head-section {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}
@media (max-width: 1023px) {
  .main .head-section {
    font-size: 24px;
  }
}

.main .head-section + p {
  font-size: 16px;
  line-height: 153.4%;
  max-width: 668px;
  margin-bottom: 30px;
}
@media (max-width: 1023px) {
  .main .head-section + p {
    font-size: 13px;
  }
}




.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide {
  outline: none;
  height: inherit !important;
  margin: 0 5px;
}

.slick-dots {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}


.slick-list {
  padding: 0 20% 0 0;
}


.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.slick-dots .slick-active button {
  background: #ff699f;
}

.slick-dots li button {
  background: transparent;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.main .service-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
}

.service-wrapp .service {
  width: 32.3%;
  background: #fff;
  -webkit-box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.service .heading {
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding: 0 24px 24px 24px;
}
@media (max-width: 767px) {
  .service .heading {
    font-size: 18px;
  }
}

.service .heading + ul {
  padding: 0 24px 24px 24px;
}

.service .heading + ul li {
  padding: 4px 0;
}
@media (max-width: 1023px) {
  .service .heading + ul li {
    font-size: 13px;
  }
}

.service .img-wrapp {
  margin: -1px -1px 40px -1px;
}

.service .img-wrapp img {
  width: 100%;
  border-radius: 3px;
}

.offers-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1023px) {
  .offers-wrapp {
    margin-bottom: 40px;
  }
}

.offers-wrapp .offer {
  width: 20%;
  margin: 0 10px 20px 10px;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 1023px) {
  .offers-wrapp .offer {
    width: 45%;
    margin: 0 5px 10px 5px;
  }
  .offers-wrapp .offer p {
    font-size: 13px;
  }
}

.offer .icon {
  font-size: 70px;
  color: #ff699f;
  margin: 10px;
}

.footer {
  background: #1f1f1f;
}

.footer-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-wrapp .logo {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1023px) {
  .footer-wrapp .logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    font-size: 16px;
    width: 100%;
  }
  .footer-wrapp .logo strong {
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
  }
  .footer-wrapp .logo strong:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 30px;
    height: 1px;
    background: #fff;
  }
}

.footer-wrapp .copyright {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 1023px) {
  .footer-wrapp .copyright {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.developed {
  display: none;
}
@media (max-width: 1023px) {
  .developed {
    display: block;
    padding-top: 20px;
    color: #fff;
    font-size: 16px;
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
