@import './include-media';

@import '../icon_font/scss/nucleo.scss';

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

* {
    box-sizing: border-box;
}

.list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nav-btn {
    display: none;

    @include media ("<desktop") {

        display: block;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 3;
        cursor: pointer;

        span,
        span::before,
        span::after {
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: #000;
        }

        span::before,
        span::after {
            content: "";
            transition: .7s;
        }

        span::before {
            transform: translateY(-5px);
        }

        span::after {
            transform: translateY(5px);
        }

    }
}

.menu_active span::before {
    transform: rotate(45deg);
}

.menu_active span {
    height: 0;
}

.menu_active span::after {
    transform: rotate(-45deg);
}

.container {
    max-width: 1296px;
    padding: 0 72px;
    margin: 0 auto;

    @include media("<desktop") {
        padding: 0 15px;
    }
}

.header-wrapp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.header-wrapp .logo {
    font-weight: 700;
    font-size: 18px;
    position: relative;
    z-index: 99;
}

.header-wrapp .nav-wrapp {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @include media('<desktop') {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }

    .menu_active & {
        opacity: 1;
        display: block;
        visibility: visible;
        text-align: left;
        padding: 0 15px;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        transition: all .5s ease-in-out;
        background: #fff;

        ul {
            padding-top: 50px;
        }

        li {
            display: block;
            font-size: 25px;
            padding: 10px 0;
        }

    }

    .menu_active {
        height: 100vh;
        overflow: hidden;
    }
}

.nav-wrapp ul li {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.nav-wrapp ul li:last-of-type {
    padding: 10px 35px 10px 10px;
}

.nav-wrapp ul li a {
    font-weight: 400;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.nav-wrapp ul li a:hover {
    text-decoration: underline;
}

.nav-wrapp>a {
    display: inline-block;
    vertical-align: top;
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 32px;
    font-weight: 600;

}

.nav-wrapp>a:hover {
    color: #FF699F;
    border: 2px solid #FF699F;
}


.visual {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 25px;
    margin-bottom: 100px;

    @include media("<desktop") {
        margin-bottom: 40px;
    }

}

.visual .text-hold {
    width: 40%;
    padding: 70px 0 0 0;

    @include media("<desktop") {
        width: 100%;
        order: 2;
        padding: 30px 0 0 0;

    }
}

.visual .text-hold h1 {
    font-size: 72px;
    text-transform: capitalize;
    line-height: 68px;
    margin-bottom: 15px;

    @include media('<desktop') {
        font-size: 36px;
        display: table-caption;
        margin-bottom: 10px;

    }
}

.visual .text-hold h1+p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;

    @include media('<desktop') {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

.visual .text-hold p {
    max-width: 383px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 45px;

    @include media('<desktop') {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

.visual .text-hold .button-wrapp a {
    display: inline-block;
    vertical-align: top;
    padding: 10px 40px;
    border: 2px solid #FF699F;
    color: #FF699F;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
}

.visual .text-hold .button-wrapp a:hover {
    color: #000;
}

.visual-bg {
    max-width: 60%;
    min-height: 650px;

    @include media("<desktop") {
        order: 1;
        max-width: 100%;
        min-height: 275px;
    }
}

.visual-bg img {
    width: 100%;
    height: 100%;
}

// .visual .visual-bg {
//     background-image: url('../img/first-dance-i.png');
//     background-size: auto;
//     min-height: 650px;
//     width: 65%;
//     background-position: 100%;
// }

.main .head-section {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;

    @include media('<desktop') {
        font-size: 24px;
    }
}

.main .head-section+p {
    font-size: 16px;
    line-height: 153.4%;
    max-width: 668px;
    margin-bottom: 30px;

    @include media('<desktop') {
        font-size: 13px;
    }
}


.slick-track {
    display: flex !important;
}



.slick-slide {
    outline: none;
    height: inherit !important;
    margin: 0 5px;
}

.slick-dots {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.slick-dots li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;

}

.slick-dots .slick-active button {
    background: #FF699F;
}

.slick-dots li button {
    background: transparent;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
}

.main .service-wrapp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.service-wrapp .service {
    width: 32.3%;
    background: #fff;
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.service .heading {
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding: 0 24px 24px 24px;

    @include media ("<tablet") {
        font-size: 18px;
    }
}

.service .heading+ul {
    padding: 0 24px 24px 24px;
}

.service .heading+ul li {
    padding: 4px 0;

    @include media ('<desktop') {
        font-size: 13px;
    }
}

.service .img-wrapp {
    margin: -1px -1px 40px -1px;
}

.service .img-wrapp img {
    width: 100%;
    border-radius: 3px;
}

.offers-wrapp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 100px;

    @include media("<desktop") {
        margin-bottom: 40px;
    }
}

.offers-wrapp .offer {
    width: 20%;
    margin: 0 10px 20px 10px;
    text-align: center;
    font-size: 16px;

    @include media ("<desktop") {
        width: 45%;
        margin: 0 5px 10px 5px;

        p {
            font-size: 13px;
        }
    }
}

.offer .icon {
    height: 90px;
    margin: 10px;
}


.footer {
    background: #1F1F1F;
}

.footer-wrapp {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.footer-wrapp .logo {
    color: #fff;
    font-size: 18px;

    @include media("<desktop") {
        order: 2;
        font-size: 16px;
        width: 100%;

        strong {
            font-weight: 400;
            position: relative;
            padding-bottom: 10px;
        }

        strong:after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 30px;
            height: 1px;
            background: #fff;
        }
    }
}

.footer-wrapp .copyright {
    font-size: 16px;
    color: #fff;

    @include media('<desktop') {
        order: 1;
    }
}

.developed {
    display: none;

    @include media("<desktop") {
        display: block;
        padding-top: 20px;
        color: #fff;
        font-size: 16px;
        width: 100%;
        order: 3;
    }
}