/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$icon-Frame: unicode(ea02);
$icon-Group-10: unicode(ea03);
$icon-Group-11: unicode(ea04);
$icon-Vector: unicode(ea05);
$icon-Vector2: unicode(ea06);
$icon-Group-8: unicode(ea07);
$icon-Group-9: unicode(ea08);
$icon-Group-7: unicode(ea09);

.icon-Frame::before {
  content: $icon-Frame;
}

.icon-Group-10::before {
  content: $icon-Group-10;
}

.icon-Group-11::before {
  content: $icon-Group-11;
}

.icon-Vector::before {
  content: $icon-Vector;
}

.icon-Vector2::before {
  content: $icon-Vector2;
}

.icon-Group-8::before {
  content: $icon-Group-8;
}

.icon-Group-9::before {
  content: $icon-Group-9;
}

.icon-Group-7::before {
  content: $icon-Group-7;
}

